* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background: #5E6973;
    margin-bottom: 30px;
}

.navbar a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: white;
    text-decoration: none;
    text-align: center;
    border-right: 2px solid white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a.active:after {
    content: "";
    height: 5px;
    width: 80%;
    background: #BDFFFD;
    position: absolute;
    bottom: 0;
    left: 10%;
}

.type2 {
    background: black;
}

.type2 a.active:after {
    background: white;
}

.type3 {
    background: #fff;
    border-bottom: 5px solid #02648e;
}

.type3 a {
    color: #000;
}

.type3 a.active:after {
    background: #009cde;
    bottom: -5px;
}

.type4 {
    background: transparent;
}

.type4 a {
    background: #02648e;
    border-right-width: 35px;
    overflow: hidden;
}

.type4 a.active {
    background: #009cde;
}

.type4 a.active:after {
    background: #02648e;
    width: 20px;
    height: 20px;
    top: -10px;
    right: -10px;
    bottom: auto;
    left: auto;
    transform: rotate(45deg);
}